.meet-container {
    background: red;
    position: relative;

    #localVideo {
        background: black;
        object-fit: cover;
        min-height: 100%;
        width: 100%;
    }

    #remoteVideo{
        object-fit: cover;
        background: transparent;
        height: 250px;
        width: 150px;
        border: solid 2px white;
        right: 20px;
        top: 20px;
        position: absolute;
    }

    .buttons {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        position: absolute;
        height: 100px;
        width: 100%;
        bottom: 0;
        
        ion-button {
            
            height: 60px;
            --border--size: 2px;
            width: 60px;
            --border-radius: 50%;
        }

        ion-button:nth-child(2){
            margin-bottom: 20px;
            transform: rotate(135deg);
        }
    }
}

.videoContainer {
    display: flex;
    background: black;
    min-height: 100%;


}


canvas {
    position: absolute;
    transform: translate(-40%, -38%);
    left: 0%;
    top: 50%;
    width: 1000px;
}
