
.modal-container{
    --height: 40%;
    --width: 80%;
    --border-radius: 15px;
    --backdrop-opacity: 0.5;

    div{
        padding: 25px 25px 10px 25px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;

        form{
            width: 100%;
        
            input{
                padding: 0 5px 0 15px;
                color: var(--tab-text-color);
                font-size: 0.8rem;
                background: var(--background-color);
                border-radius: 1px;
                margin: 10px 0 5px 0;
                min-height: 30px;
                width: 100%;
                border-radius: 10px;
                border: solid 1px var(--alt-text-color);

                &::placeholder{
                    font-size: 0.7rem;
                    color: var(--tab-text-color);
                }

                &:focus{
                    outline: solid 1px var(--primary-color);
                }
            }
        }
        .button{
            color: var(--primary-color);
        }
    }
}


.forgot-password-txt{
    text-align: center;

    .icon{
        color: var(--primary-color);
        --width: 50px;
    }

    h1{
        font-size: 1.1rem;
        color: var(--text-color);
    }

    p{
        margin: 0 auto;
        color: var(--tab-text-color);
        font-size: 0.75rem;
    }
}
