.sign-container{
    padding: 70px 25px 25px 25px;
    background: var(--background-color);
    align-items: center;
    height: 100%;
    color: var(--text-color);

    .logo{
        margin-bottom: 10px;
        width: 80px;
        height: auto;
    }

    h1{
        font-weight: 600;
        font-size: 1.2rem;
        color: var(--text-color);
    }

    p{
        margin-bottom: 45px;
        text-align: center;
        font-size: 0.85rem;
        color: var(--tab-text-color);
    }

        
    p.errorMessage{
        margin-top: 2px;
        margin-bottom: 3px;
        padding-left: 3px;
        padding-top: 0;
        transform: translate(0, -8px);
        color: var(--error-color);
        font-size: 0.6rem;
        width: 100%;
        text-align: left;
        font-weight: 600;
    }

    .errorIcon{
        margin-right: 3px;
        transform: translate(0, 1px);
    }

    form{
        padding: 0 10px;
        display: flex;
        flex-direction: column;
        width: 100%;
        color: var(--tab-text-color);

        .label{
            margin: 20px 0 5px 0;
            font-size: 0.8rem;
            color: var(--text-color);
        }
    }
}


ion-input.sc-ion-input-md-s.md.input-fill-outline{
    --border-radius: 15px;
    --width: 100%
    --color: var(--text-color);
    margin: 7px 0 2px 0;
}

.selection{
    --border-radius: 15px;
    --width: 100%;
    margin: 7px 0;
}

.previous{
    margin-top: 10px;
    margin-bottom: 8px;
    font-size: 1rem;
    min-height: 45px;
    text-transform: capitalize;
    --box-shadow: none;
}

.next,
.submit{
    margin-top: 10px;
    margin-bottom: 8px;
    font-size: 1rem;
    min-height: 45px;
    text-transform: capitalize;
    --background: var(--primary-color);
    --box-shadow: none;
}



.date-modal{
    
    div{
        justify-content: center;
        margin: auto;
        height: 100%;
        background: var(--alt-text-color);
    }
}


#datetime{
    border-radius: 15px;
}


.error{
    border: solid 2px var(--error-color);
    animation: shake 0.2s ease-in-out 0s 2;
    border-radius: 19px;
}



.label-text-wrapper {
    background: white;
    padding: 0 3px;
    color: red;
}

@keyframes shake {
    0% {
        transform: translateX(0rem);
    }
    25% {
        transform: translateX(0.5rem);
    }
    75% {
        transform: translateX(-0.5rem);
    }
    100% {
        transform: translateX(0rem);
    }
}

